// respond.src-matchMedia.js is respond.src.js minus the `matchMedia` part: http://j.mp/respondjs
script(src='js/vendor/respond.src-matchMedia.js', type='text/javascript')

// Here's the `matchMedia` part: https://github.com/weblinc/media-match
script(src='js/vendor/media.match.min.js', type='text/javascript')

// http://wicky.nillia.ms/enquire.js/
script(src='js/vendor/enquire.min.js', type='text/javascript')