doctype html
html(lang="fr")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='initial-scale=1 maximum-scale=1 width=device-width')
		
		// TODO: Set Typekit ID or delete those two lines
		script(type='text/javascript', src='//use.typekit.net/YOUR_TYPEKIT_ID.js')
			
		script(type='text/javascript') try{Typekit.load();}catch(e){}
		
		link(rel="stylesheet", href="css/style.min.css")
		
		// TODO: Configure and build from http://modernizr.com/download/
		script(src='js/vendor/modernizr.custom.js', type='text/javascript')
		
		block title
			title Untitled
			
	body
		block content
			p Default content
		include ../includes/scripts